<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.behradrvb.ppnclient">

    <application>
        <service
            android:name=".ConnectionService"
            android:enabled="true" />
    </application>
</manifest>

